button{
    width: 180px;
    height: 45px;
    color: black;
    border-style: none;
    border-radius: 10px;
    background-color: pink;
    font-size: 20px;
    font-family: "Playfair Display";
    margin: 2px;
float:inline-start;
}
button:hover{
  background-color: rgb(129, 129, 173);
}
.text{
  text-align:center;
  padding: 10px;
  margin: 2px;
  
}
.drink-image img{
width: 100%;

}
.pizza-image img{
width: 100%;
}

.query-section {
    display: flex;
    width: 100%;
    margin-bottom: 15px;
  }
  
  .icon {
    padding: 10px;
    background:rgb(129, 129, 173);
    color: black;
    min-width: 50px;
    text-align: center;
  }
.input-field {
    width: 100%;
    padding: 10px;
    outline: none;
  }
  
  .input-field:focus {
    border: 2px solid rgb(129, 129, 173);
  }
  
  .btn {
    background-color: rgb(129, 129, 173);
    color: black;
  text-transform: uppercase;
    padding: 15px 20px;
    border: none; 
    cursor: pointer;
    width: 100%;
    opacity: 0.8;
   
  }
  
  .btn:hover {
    opacity: 1;
  }
 .footer-section{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(129, 129, 173);
  color: black;
  text-align: center;
}
a{
  color:black;
text-decoration: none;
}
hr{
  background-color:blue;
  height: 1px;
}


.navbar {
  overflow: hidden;
  background-color:rgb(129, 129, 173);
  position: fixed;
  top: 0;
  width: 100%;
}
.navbar a {
  float: left;
  display: block;
  color:#111;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.navbar a:hover {
  background: black;
  color: #ccc;
}